.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active, .sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover, .sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus{
    background-color: #000000;
}
ul.nav a {
    font-size: 20px;
    padding: 15px;
}
.navbar-inverse {
    background-color: rgba(34, 34, 34, 0.75);
    border-color: #080808;
}
.col-sm-3.col-lg-5.widget-left .fa{
    font-size: 45px;
}
.gauge-div .large{
    font-size: 40px;
}
.gauge-div .text-muted{
    font-size: 20px;
    margin-top: 5px;
}
.gauge-div .widget-right{
    text-align: center;
}